<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alipay</key>
	<dict>
		<key>universalLink</key>
		<string>此处填写通用链接</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipay{$_dcloud_appid_md5}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WeChat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>微信的appid</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>safepay</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>需要您的同意，才能使用推送功能</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>WeChat</key>
	<dict>
		<key>appid</key>
		<string>此处填写微信开放平台注册的appid</string>
		<key>universalLink</key>
		<string>此处填写微信开放平台注册的通用链接</string>
	</dict>
	<key>getui</key>
	<dict>
		<key>appKey</key>
		<string>此处填写getui的appKey</string>
		<key>appSecret</key>
		<string>此处填写getui的appSecret</string>
		<key>appid</key>
		<string>此处填写getui的appid</string>
	</dict>
	<key>geyan</key>
	<dict>
		<key>appid</key>
		<string>此处填写geyan的appid</string>
	</dict>
	<key>uniapp-x</key>
	<dict>
		<key>appid</key>
		<string>__UNI__35453D1</string>
		<key>channel</key>
		<string>appstore</string>
		<key>initPrivacyAuthorization</key>
		<true/>
		<key>ipatype</key>
		<integer>2</integer>
		<key>uniRuntimeVersion</key>
		<string>5.07</string>
		<key>unionid</key>
		<string>广告联盟id，如未开通uniad可不填</string>
	</dict>
</dict>
</plist>
